[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
finta = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
yfinance = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.8"
